html, body {
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* height: 100vh; */
}

.flex-item {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
}